/* SCSS variables (especially useful in media queries) */
$main-color: #4d0707;
$highlight-color: rgb(204, 10, 10);
$text-color: rgb(255, 255, 255);
$bg-color: #040308;

$breakpoint-lg: 1220px;
$breakpoint-md: 900px;
$breakpoint-sm: 740px;