.page-des {
    .des-columns {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // column-gap: 2em;
        // row-gap: 1em;
        columns: 3;
        column-gap: 2em;
    }

    .button-des {
        width: 100%;
        padding: 0.5em;
        margin: 0.5em 0;
        background-color: #c0b9d4;
        border: 1px solid #867699;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #a99bc2;
        }

        &.active {
            background-color: #83c7ff;
            border-color: #46678b;

            &:hover {
                background-color: #698fbb;
            }
        }
    }

    .historique-jets {
        border: 2px solid rgb(49, 49, 49);
        border-radius: 10px;
        width: 100%;

        .jet-detail {
            text-align: left;
            border-bottom: 2px solid rgb(49, 49, 49);
            padding: 0.25em 1em;

            &:last-child {
                border-bottom: none;
            }

            .date {
                opacity: 0.8;
                display: inline-block;
                padding-top: 0.1em;
                font-size: 0.9em;
                width: 10em;
            }

            .stats {
                display: inline-block;
                margin-right: 2em;
                min-width: 16em;
            }

            .de {
                display: inline-block;
                margin: 0 0.25em;
                padding: 0.1em 0.2em;
                font-weight: bold;
                vertical-align: bottom;
                background-color: rgba(49, 49, 49, 0.4);
                border-radius: 33%;

                &.reussite {
                    color: green;
                }
                &.soif {
                    background-color: #4d0707;
                    &.eveil {
                        color: rgb(204, 10, 10);
                    }
                }
                &.compulsion {
                    background-color: #3f074d;
                    &.eveil {
                        color: rgb(181, 10, 204);
                    }
                }
            }

            .effet-soif {
                color: rgb(204, 10, 10);
            }
            .effet-compulsion {
                color: rgb(181, 10, 204);
            }
        }
    }

    .recapitulatif {
        position: fixed;
        bottom: 2.66em;
        left: 0;
        background-color: rgb(49, 49, 49);
        width: 100vw;

        .field {
            display: block;
            margin-top: 0.2em;
            margin-bottom: 0.4em;
        }
    }
}