.disciplines-liste {

    h2 {
        cursor: pointer;
    }
    h3 {
        font-size: 1.25em;
        margin-top: 1.25em;
    }
    .arrow {
        font-size: 0.6em;
        display: inline-block;
        padding-top: 0.6em;;
    }
    .discipline-detail {
        font-size: 1.1em;
    }
}