:root {
    --main-color: #4d0707;
    --highlight-color: rgb(204, 10, 10);
    --text-color: rgb(255, 255, 255);
    --bg-color: #040308;

    --breakpoint-lg: 1220px;
    --breakpoing-sm: 740px;

}

* {
    box-sizing: border-box;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}
.columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.hidden {
    display:none;
}

.main-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width:var(--breakpoint-lg)) {
        width: 90%;
    }
    @media screen and (max-width:var(--breakpoint-sm)) {
        width: 94%;
    }
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5rem;
    margin: 0 4rem 1rem;
}
h2 {
    font-variant: small-caps;
    border: 3px solid var(--main-color);
    border-left: none;
    border-right: none;
    margin: 3rem auto 1rem;
    letter-spacing: 2px;
    font-size: 2rem;
}
h3 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
}

